USE [master]
GO
/****** Object:  Database [Парикмахерская2]    Script Date: 12.05.2026 9:26:17 ******/
CREATE DATABASE [Парикмахерская2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Парикмахерская2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Парикмахерская2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Парикмахерская2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Парикмахерская2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Парикмахерская2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Парикмахерская2]
GO
/****** Object:  Table [dbo].[Журнал_действий_менеджера]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал_действий_менеджера](
	[Id_журнал] [int] IDENTITY(1,1) NOT NULL,
	[Id_менеджер] [int] NOT NULL,
	[Таблица_изменения] [nvarchar](100) NOT NULL,
	[Действие] [nvarchar](50) NOT NULL,
	[Дата_время] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_журнал] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Закупка]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Закупка](
	[Id_закупка] [int] IDENTITY(1,1) NOT NULL,
	[Id_расходник] [int] NOT NULL,
	[Дата_закупки] [date] NOT NULL,
	[Количество_закуплено] [int] NOT NULL,
	[Стоимость_закупки] [decimal](10, 2) NOT NULL,
	[Условия_хранения] [text] NULL,
	[Срок_годности_партии] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_закупка] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Запись]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Запись](
	[Id_запись] [int] IDENTITY(1,1) NOT NULL,
	[Id_услуга] [int] NOT NULL,
	[Id_сотрудник] [int] NOT NULL,
	[Id_клиент] [int] NOT NULL,
	[Дата_начала] [datetime] NOT NULL,
	[Дата_окончания] [datetime] NOT NULL,
	[Id_статус] [int] NOT NULL,
	[Итоговая_стоимость] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_запись] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Категория_услуг]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Категория_услуг](
	[Id_категория] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_категория] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Квалификация]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Квалификация](
	[Id_квалификация] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Образование] [text] NOT NULL,
	[Медкнижка] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_квалификация] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиент]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[Id_клиент] [int] IDENTITY(1,1) NOT NULL,
	[Id_пользователь] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Номер_телефона] [nvarchar](50) NOT NULL,
	[Процент_скидки] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_клиент] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отзыв_на_специалиста]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отзыв_на_специалиста](
	[Id_отзыв] [int] IDENTITY(1,1) NOT NULL,
	[Id_сотрудник] [int] NOT NULL,
	[Id_клиент] [int] NOT NULL,
	[Оценка] [int] NOT NULL,
	[Текст_отзыва] [text] NULL,
	[Дата_отзыва] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_отзыв] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователь]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователь](
	[Id_пользователь] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](100) NOT NULL,
	[Пароль_hash] [nvarchar](255) NOT NULL,
	[Id_роль] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_пользователь] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Производитель]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Производитель](
	[Id_производитель] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Страна] [nvarchar](100) NOT NULL,
	[Номер_телефона] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_производитель] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Расходник]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Расходник](
	[Id_расходник] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Объем_ед_измерения] [nvarchar](50) NOT NULL,
	[Нормы_расхода] [nvarchar](100) NOT NULL,
	[Id_производитель] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_расходник] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роль]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роль](
	[Id_роль] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_роль] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сезонное_предложение]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сезонное_предложение](
	[Id_предложение] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Id_услуга] [int] NOT NULL,
	[Сезон_год] [nvarchar](50) NOT NULL,
	[Описание] [text] NULL,
	[Скидка_процент] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_предложение] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Id_сотрудник] [int] IDENTITY(1,1) NOT NULL,
	[Id_пользователь] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Номер_телефона] [nvarchar](50) NOT NULL,
	[Стаж] [int] NOT NULL,
	[Рейтинг] [decimal](3, 2) NULL,
	[Id_квалификация] [int] NOT NULL,
	[Название_фото] [nvarchar](255) NULL,
	[Id_статус] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_сотрудник] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус](
	[Id_статус] [int] NOT NULL,
	[Статус] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус_записи]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус_записи](
	[Id_статус] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_статус] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуга]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуга](
	[Id_услуга] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Длительность_мин] [int] NOT NULL,
	[Описание] [text] NOT NULL,
	[Стоимость] [decimal](10, 2) NOT NULL,
	[Id_категория] [int] NOT NULL,
	[Сложность] [nvarchar](50) NOT NULL,
	[Техника_выполнения] [nvarchar](255) NULL,
	[Название_фото] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_услуга] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуга_Расходник]    Script Date: 12.05.2026 9:26:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуга_Расходник](
	[Id_услуга] [int] NOT NULL,
	[Id_расходник] [int] NOT NULL,
	[Количество_ед] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_услуга] ASC,
	[Id_расходник] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Журнал_действий_менеджера] ON 

INSERT [dbo].[Журнал_действий_менеджера] ([Id_журнал], [Id_менеджер], [Таблица_изменения], [Действие], [Дата_время]) VALUES (1, 1, N'Запись', N'Изменила статус на "Выполнено"', CAST(N'2026-04-20T18:05:00.000' AS DateTime))
INSERT [dbo].[Журнал_действий_менеджера] ([Id_журнал], [Id_менеджер], [Таблица_изменения], [Действие], [Дата_время]) VALUES (2, 1, N'Клиент', N'Обновила процент скидки', CAST(N'2026-04-21T09:00:00.000' AS DateTime))
INSERT [dbo].[Журнал_действий_менеджера] ([Id_журнал], [Id_менеджер], [Таблица_изменения], [Действие], [Дата_время]) VALUES (3, 2, N'Запись', N'Перенесла запись', CAST(N'2026-04-25T10:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Журнал_действий_менеджера] OFF
SET IDENTITY_INSERT [dbo].[Закупка] ON 

INSERT [dbo].[Закупка] ([Id_закупка], [Id_расходник], [Дата_закупки], [Количество_закуплено], [Стоимость_закупки], [Условия_хранения], [Срок_годности_партии]) VALUES (1, 1, CAST(N'2026-04-15' AS Date), 50, CAST(7500.00 AS Decimal(10, 2)), N'Сухое прохладное место', CAST(N'2028-04-15' AS Date))
INSERT [dbo].[Закупка] ([Id_закупка], [Id_расходник], [Дата_закупки], [Количество_закуплено], [Стоимость_закупки], [Условия_хранения], [Срок_годности_партии]) VALUES (2, 3, CAST(N'2026-04-20' AS Date), 200, CAST(30000.00 AS Decimal(10, 2)), N'Температура 5-25°C', CAST(N'2028-10-20' AS Date))
INSERT [dbo].[Закупка] ([Id_закупка], [Id_расходник], [Дата_закупки], [Количество_закуплено], [Стоимость_закупки], [Условия_хранения], [Срок_годности_партии]) VALUES (3, 4, CAST(N'2026-04-20' AS Date), 150, CAST(12000.00 AS Decimal(10, 2)), N'Температура 5-25°C', CAST(N'2028-10-20' AS Date))
SET IDENTITY_INSERT [dbo].[Закупка] OFF
SET IDENTITY_INSERT [dbo].[Запись] ON 

INSERT [dbo].[Запись] ([Id_запись], [Id_услуга], [Id_сотрудник], [Id_клиент], [Дата_начала], [Дата_окончания], [Id_статус], [Итоговая_стоимость]) VALUES (1, 7, 2, 1, CAST(N'2026-04-20T10:00:00.000' AS DateTime), CAST(N'2026-04-20T11:30:00.000' AS DateTime), 2, CAST(3600.00 AS Decimal(10, 2)))
INSERT [dbo].[Запись] ([Id_запись], [Id_услуга], [Id_сотрудник], [Id_клиент], [Дата_начала], [Дата_окончания], [Id_статус], [Итоговая_стоимость]) VALUES (2, 1, 1, 2, CAST(N'2026-04-21T14:00:00.000' AS DateTime), CAST(N'2026-04-21T14:45:00.000' AS DateTime), 2, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Запись] ([Id_запись], [Id_услуга], [Id_сотрудник], [Id_клиент], [Дата_начала], [Дата_окончания], [Id_статус], [Итоговая_стоимость]) VALUES (3, 12, 3, 3, CAST(N'2026-04-22T11:00:00.000' AS DateTime), CAST(N'2026-04-22T12:10:00.000' AS DateTime), 2, CAST(2000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Запись] OFF
SET IDENTITY_INSERT [dbo].[Категория_услуг] ON 

INSERT [dbo].[Категория_услуг] ([Id_категория], [Название]) VALUES (1, N'Женские стрижки')
INSERT [dbo].[Категория_услуг] ([Id_категория], [Название]) VALUES (2, N'Окрашивание')
INSERT [dbo].[Категория_услуг] ([Id_категория], [Название]) VALUES (3, N'Укладка')
SET IDENTITY_INSERT [dbo].[Категория_услуг] OFF
SET IDENTITY_INSERT [dbo].[Квалификация] ON 

INSERT [dbo].[Квалификация] ([Id_квалификация], [Название], [Образование], [Медкнижка]) VALUES (1, N'Стилист-универсал', N'Высшее парикмахерское искусство, диплом с отличием', N'Действительна до 2028-12-31')
INSERT [dbo].[Квалификация] ([Id_квалификация], [Название], [Образование], [Медкнижка]) VALUES (2, N'Колорист-эксперт', N'Международные курсы колористики Wella, L''Oreal', N'Действительна до 2027-10-15')
INSERT [dbo].[Квалификация] ([Id_квалификация], [Название], [Образование], [Медкнижка]) VALUES (3, N'Топ-стилист', N'Обучение в Tony&Guy, сертификаты премиум-класса', N'Действительна до 2029-05-20')
SET IDENTITY_INSERT [dbo].[Квалификация] OFF
SET IDENTITY_INSERT [dbo].[Клиент] ON 

INSERT [dbo].[Клиент] ([Id_клиент], [Id_пользователь], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Процент_скидки]) VALUES (1, 4, N'Соколова', N'Елена', N'Андреевна', N'+79031234567', 5)
INSERT [dbo].[Клиент] ([Id_клиент], [Id_пользователь], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Процент_скидки]) VALUES (2, 5, N'Морозова', N'Мария', N'Игоревна', N'+79041234568', 0)
INSERT [dbo].[Клиент] ([Id_клиент], [Id_пользователь], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Процент_скидки]) VALUES (3, 6, N'Волкова', N'Ирина', N'Дмитриевна', N'+79051234569', 10)
SET IDENTITY_INSERT [dbo].[Клиент] OFF
SET IDENTITY_INSERT [dbo].[Отзыв_на_специалиста] ON 

INSERT [dbo].[Отзыв_на_специалиста] ([Id_отзыв], [Id_сотрудник], [Id_клиент], [Оценка], [Текст_отзыва], [Дата_отзыва]) VALUES (1, 2, 1, 5, N'Анна Сергеевна просто волшебница! Сделала потрясающий балаяж', CAST(N'2026-04-20T18:00:00.000' AS DateTime))
INSERT [dbo].[Отзыв_на_специалиста] ([Id_отзыв], [Id_сотрудник], [Id_клиент], [Оценка], [Текст_отзыва], [Дата_отзыва]) VALUES (2, 1, 2, 5, N'Отличная стрижка, все аккуратно', CAST(N'2026-04-21T16:00:00.000' AS DateTime))
INSERT [dbo].[Отзыв_на_специалиста] ([Id_отзыв], [Id_сотрудник], [Id_клиент], [Оценка], [Текст_отзыва], [Дата_отзыва]) VALUES (3, 3, 3, 4, N'Укладка хорошая, но дороговато', CAST(N'2026-04-22T14:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Отзыв_на_специалиста] OFF
SET IDENTITY_INSERT [dbo].[Пользователь] ON 

INSERT [dbo].[Пользователь] ([Id_пользователь], [Логин], [Пароль_hash], [Id_роль]) VALUES (1, N'admin.rayan', N'hash_admin_rayan2026', 1)
INSERT [dbo].[Пользователь] ([Id_пользователь], [Логин], [Пароль_hash], [Id_роль]) VALUES (2, N'manager.anna', N'hash_manager_anna2026', 2)
INSERT [dbo].[Пользователь] ([Id_пользователь], [Логин], [Пароль_hash], [Id_роль]) VALUES (3, N'manager.olga', N'hash_manager_olga2026', 2)
SET IDENTITY_INSERT [dbo].[Пользователь] OFF
SET IDENTITY_INSERT [dbo].[Производитель] ON 

INSERT [dbo].[Производитель] ([Id_производитель], [Название], [Страна], [Номер_телефона]) VALUES (1, N'L''Oreal Professionnel', N'Франция', N'+33123456789')
INSERT [dbo].[Производитель] ([Id_производитель], [Название], [Страна], [Номер_телефона]) VALUES (2, N'Wella Professionals', N'Германия', N'+49234567890')
INSERT [dbo].[Производитель] ([Id_производитель], [Название], [Страна], [Номер_телефона]) VALUES (3, N'Schwarzkopf Professional', N'Германия', N'+49345678901')
SET IDENTITY_INSERT [dbo].[Производитель] OFF
SET IDENTITY_INSERT [dbo].[Расходник] ON 

INSERT [dbo].[Расходник] ([Id_расходник], [Название], [Объем_ед_измерения], [Нормы_расхода], [Id_производитель]) VALUES (1, N'Лак для волос сильной фиксации', N'300 мл', N'10-15 пшиков', 1)
INSERT [dbo].[Расходник] ([Id_расходник], [Название], [Объем_ед_измерения], [Нормы_расхода], [Id_производитель]) VALUES (2, N'Мусс для объема', N'200 мл', N'1-2 нажатия', 2)
INSERT [dbo].[Расходник] ([Id_расходник], [Название], [Объем_ед_измерения], [Нормы_расхода], [Id_производитель]) VALUES (3, N'Краска для волос 6.0', N'60 мл', N'30-50 мл на окрашивание', 1)
SET IDENTITY_INSERT [dbo].[Расходник] OFF
SET IDENTITY_INSERT [dbo].[Роль] ON 

INSERT [dbo].[Роль] ([Id_роль], [Название]) VALUES (1, N'Администратор')
INSERT [dbo].[Роль] ([Id_роль], [Название]) VALUES (3, N'Клиент')
INSERT [dbo].[Роль] ([Id_роль], [Название]) VALUES (2, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Роль] OFF
SET IDENTITY_INSERT [dbo].[Сезонное_предложение] ON 

INSERT [dbo].[Сезонное_предложение] ([Id_предложение], [Название], [Id_услуга], [Сезон_год], [Описание], [Скидка_процент]) VALUES (1, N'Весеннее обновление', 7, N'Весна 2026', N'Балаяж со скидкой 15%', 15)
INSERT [dbo].[Сезонное_предложение] ([Id_предложение], [Название], [Id_услуга], [Сезон_год], [Описание], [Скидка_процент]) VALUES (2, N'Майская укладка', 12, N'Весна 2026', N'Вечерняя укладка для выпускного', 10)
INSERT [dbo].[Сезонное_предложение] ([Id_предложение], [Название], [Id_услуга], [Сезон_год], [Описание], [Скидка_процент]) VALUES (3, N'Свадебный сезон', 16, N'Весна-Лето 2026', N'Свадебная прическа - скидка 20%', 20)
SET IDENTITY_INSERT [dbo].[Сезонное_предложение] OFF
SET IDENTITY_INSERT [dbo].[Сотрудник] ON 

INSERT [dbo].[Сотрудник] ([Id_сотрудник], [Id_пользователь], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Стаж], [Рейтинг], [Id_квалификация], [Название_фото], [Id_статус]) VALUES (1, 2, N'Козлова', N'Анна', N'Сергеевна', N'+79111234567', 8, CAST(4.90 AS Decimal(3, 2)), 1, N'Козлова Анна.jpg', NULL)
INSERT [dbo].[Сотрудник] ([Id_сотрудник], [Id_пользователь], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Стаж], [Рейтинг], [Id_квалификация], [Название_фото], [Id_статус]) VALUES (2, 3, N'Лебедева', N'Ольга', N'Владимировна', N'+79111234568', 5, CAST(4.70 AS Decimal(3, 2)), 2, N'Лебедева Ольга.jpg', NULL)
INSERT [dbo].[Сотрудник] ([Id_сотрудник], [Id_пользователь], [Фамилия], [Имя], [Отчество], [Номер_телефона], [Стаж], [Рейтинг], [Id_квалификация], [Название_фото], [Id_статус]) VALUES (3, 2, N'Смирнова', N'Екатерина', N'Алексеевна', N'+79111234569', 10, CAST(5.00 AS Decimal(3, 2)), 3, N'Смирнова Екатерина.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Сотрудник] OFF
SET IDENTITY_INSERT [dbo].[Статус_записи] ON 

INSERT [dbo].[Статус_записи] ([Id_статус], [Название]) VALUES (2, N'Выполнено')
INSERT [dbo].[Статус_записи] ([Id_статус], [Название]) VALUES (1, N'Запланировано')
INSERT [dbo].[Статус_записи] ([Id_статус], [Название]) VALUES (3, N'Отменено')
SET IDENTITY_INSERT [dbo].[Статус_записи] OFF
SET IDENTITY_INSERT [dbo].[Услуга] ON 

INSERT [dbo].[Услуга] ([Id_услуга], [Название], [Длительность_мин], [Описание], [Стоимость], [Id_категория], [Сложность], [Техника_выполнения], [Название_фото]) VALUES (1, N'Каскад', 45, N'Классическая стрижка каскад для придания объема', CAST(1500.00 AS Decimal(10, 2)), 1, N'Средняя', N'Техника градуировки', N'Каскад.jpg')
INSERT [dbo].[Услуга] ([Id_услуга], [Название], [Длительность_мин], [Описание], [Стоимость], [Id_категория], [Сложность], [Техника_выполнения], [Название_фото]) VALUES (2, N'Полька', 60, N'Короткая женская стрижка', CAST(1800.00 AS Decimal(10, 2)), 1, N'Высокая', N'Окантовка и филировка', N'Полька.jpg')
INSERT [dbo].[Услуга] ([Id_услуга], [Название], [Длительность_мин], [Описание], [Стоимость], [Id_категория], [Сложность], [Техника_выполнения], [Название_фото]) VALUES (3, N'Сессун', 50, N'Стрижка с четкой линией среза', CAST(2000.00 AS Decimal(10, 2)), 1, N'Высокая', N'Скользящий срез', N'Сессун.jpg')
SET IDENTITY_INSERT [dbo].[Услуга] OFF
INSERT [dbo].[Услуга_Расходник] ([Id_услуга], [Id_расходник], [Количество_ед]) VALUES (1, 15, CAST(0.10 AS Decimal(10, 2)))
INSERT [dbo].[Услуга_Расходник] ([Id_услуга], [Id_расходник], [Количество_ед]) VALUES (2, 16, CAST(0.20 AS Decimal(10, 2)))
INSERT [dbo].[Услуга_Расходник] ([Id_услуга], [Id_расходник], [Количество_ед]) VALUES (3, 15, CAST(0.10 AS Decimal(10, 2)))
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__BC2217D3958B6A9D]    Script Date: 12.05.2026 9:26:17 ******/
ALTER TABLE [dbo].[Пользователь] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Роль__38DA8035A72BCE16]    Script Date: 12.05.2026 9:26:17 ******/
ALTER TABLE [dbo].[Роль] ADD UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Статус_з__38DA803587A1FEF3]    Script Date: 12.05.2026 9:26:17 ******/
ALTER TABLE [dbo].[Статус_записи] ADD UNIQUE NONCLUSTERED 
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Журнал_действий_менеджера] ADD  DEFAULT (getdate()) FOR [Дата_время]
GO
ALTER TABLE [dbo].[Отзыв_на_специалиста] ADD  DEFAULT (getdate()) FOR [Дата_отзыва]
GO
ALTER TABLE [dbo].[Журнал_действий_менеджера]  WITH CHECK ADD FOREIGN KEY([Id_менеджер])
REFERENCES [dbo].[Сотрудник] ([Id_сотрудник])
GO
ALTER TABLE [dbo].[Закупка]  WITH CHECK ADD FOREIGN KEY([Id_расходник])
REFERENCES [dbo].[Расходник] ([Id_расходник])
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD FOREIGN KEY([Id_клиент])
REFERENCES [dbo].[Клиент] ([Id_клиент])
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD FOREIGN KEY([Id_сотрудник])
REFERENCES [dbo].[Сотрудник] ([Id_сотрудник])
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD FOREIGN KEY([Id_статус])
REFERENCES [dbo].[Статус_записи] ([Id_статус])
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD FOREIGN KEY([Id_услуга])
REFERENCES [dbo].[Услуга] ([Id_услуга])
GO
ALTER TABLE [dbo].[Клиент]  WITH CHECK ADD FOREIGN KEY([Id_пользователь])
REFERENCES [dbo].[Пользователь] ([Id_пользователь])
GO
ALTER TABLE [dbo].[Отзыв_на_специалиста]  WITH CHECK ADD FOREIGN KEY([Id_клиент])
REFERENCES [dbo].[Клиент] ([Id_клиент])
GO
ALTER TABLE [dbo].[Отзыв_на_специалиста]  WITH CHECK ADD FOREIGN KEY([Id_сотрудник])
REFERENCES [dbo].[Сотрудник] ([Id_сотрудник])
GO
ALTER TABLE [dbo].[Пользователь]  WITH CHECK ADD FOREIGN KEY([Id_роль])
REFERENCES [dbo].[Роль] ([Id_роль])
GO
ALTER TABLE [dbo].[Расходник]  WITH CHECK ADD FOREIGN KEY([Id_производитель])
REFERENCES [dbo].[Производитель] ([Id_производитель])
GO
ALTER TABLE [dbo].[Сезонное_предложение]  WITH CHECK ADD FOREIGN KEY([Id_услуга])
REFERENCES [dbo].[Услуга] ([Id_услуга])
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD FOREIGN KEY([Id_квалификация])
REFERENCES [dbo].[Квалификация] ([Id_квалификация])
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD FOREIGN KEY([Id_пользователь])
REFERENCES [dbo].[Пользователь] ([Id_пользователь])
GO
ALTER TABLE [dbo].[Статус]  WITH CHECK ADD  CONSTRAINT [FK_Статус_Сотрудник] FOREIGN KEY([Id_статус])
REFERENCES [dbo].[Сотрудник] ([Id_сотрудник])
GO
ALTER TABLE [dbo].[Статус] CHECK CONSTRAINT [FK_Статус_Сотрудник]
GO
ALTER TABLE [dbo].[Услуга]  WITH CHECK ADD FOREIGN KEY([Id_категория])
REFERENCES [dbo].[Категория_услуг] ([Id_категория])
GO
ALTER TABLE [dbo].[Услуга_Расходник]  WITH CHECK ADD FOREIGN KEY([Id_расходник])
REFERENCES [dbo].[Расходник] ([Id_расходник])
GO
ALTER TABLE [dbo].[Услуга_Расходник]  WITH CHECK ADD FOREIGN KEY([Id_услуга])
REFERENCES [dbo].[Услуга] ([Id_услуга])
GO
ALTER TABLE [dbo].[Закупка]  WITH CHECK ADD CHECK  (([Количество_закуплено]>(0)))
GO
ALTER TABLE [dbo].[Закупка]  WITH CHECK ADD CHECK  (([Стоимость_закупки]>=(0)))
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD CHECK  (([Дата_окончания]>[Дата_начала]))
GO
ALTER TABLE [dbo].[Клиент]  WITH CHECK ADD CHECK  (([Процент_скидки]>=(0) AND [Процент_скидки]<=(100)))
GO
ALTER TABLE [dbo].[Отзыв_на_специалиста]  WITH CHECK ADD CHECK  (([Оценка]>=(1) AND [Оценка]<=(5)))
GO
ALTER TABLE [dbo].[Сезонное_предложение]  WITH CHECK ADD CHECK  (([Скидка_процент]>=(0) AND [Скидка_процент]<=(100)))
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD CHECK  (([Рейтинг]>=(0) AND [Рейтинг]<=(5)))
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD CHECK  (([Стаж]>=(0)))
GO
ALTER TABLE [dbo].[Услуга]  WITH CHECK ADD CHECK  (([Длительность_мин]>(0)))
GO
ALTER TABLE [dbo].[Услуга]  WITH CHECK ADD CHECK  (([Стоимость]>=(0)))
GO
ALTER TABLE [dbo].[Услуга_Расходник]  WITH CHECK ADD CHECK  (([Количество_ед]>(0)))
GO
USE [master]
GO
